.header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: auto;
  min-width: 300px;
  width: 25vw;
  text-align: center;
  width: 100%;
  margin-top: 24px;
}
/*# sourceMappingURL=style.css.map */