@import "../../styles/styles.scss";

.header {
	@include headerStyle();
}

.question {
	display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
}

.card{
	@include cardStyle();
	height: 100%;
	margin-bottom: 24px;
}

.badge{
	margin-left: 25px;
	margin-right: 25px;
}

.button-box {
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 24px;
}