.header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: auto;
  min-width: 300px;
  width: 25vw;
  text-align: center;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
}

.card {
  width: 50vw;
  height: 50vh;
  margin: auto;
  height: 100%;
  margin-bottom: 24px;
}

.badge {
  margin-left: 25px;
  margin-right: 25px;
}

.button-box {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 24px;
}
/*# sourceMappingURL=style.css.map */