@mixin headerStyle {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: auto;
	min-width: 300px;
	width: 25vw;	
	text-align: center;
}

@mixin cardStyle {
	width: 50vw;
	height: 50vh;
	margin: auto;
}
