.header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: auto;
  min-width: 300px;
  width: 25vw;
  text-align: center;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home h2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: auto;
  min-width: 300px;
  width: 25vw;
  text-align: center;
  margin-top: auto;
}

.home button {
  margin-bottom: auto;
}
/*# sourceMappingURL=style.css.map */