@import "../../styles/styles.scss";

.header {
	@include headerStyle();
}

.home {
	display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.home h2{
	@include headerStyle();
	margin-top: auto;
}

.home button{
	margin-bottom: auto;
}